body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.label {
  font-weight: bold;
  padding: 3px;
}

#id { font-weight: bold; }
#summary { font-weight: normal; }

